@media (max-width: 870px) {
  .fp-section{
    padding-top: 0 !important;
  }
  .about-text{
  font-size: 13px;
  max-width: 600px;
  }
  .img-box-logo{
    padding-top: 5px;
  }

  .box-inp{
    height: 40px;
  }
  .bc-wrapper{
    background: none !important;
  }
  .sub-box{
    margin-bottom: 10px;
  }
  .f-icon{
    margin-right: 10px;
  }
  .link-icon{
    margin: 0 10px !important;
    width: 30px !important;
    height: 30px !important;
  }
  .partner-img-text{
    font-size: 14px;
  }
  .product-card {
    min-height: 400px !important;
    padding-bottom: 20px;
  }
  .card-p-icon-1, {
    left: -28px !important;
  }
  .card-p-icon-2, .card-p-icon-3{
    left: -33px !important;
  }
  .theme-1{
    .bc-wrapper{
      background: #000428 !important;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to bottom, #000428, #3b4371) !important;  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to bottom, #000428, #3b4371) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }}
  .product-container {
    padding: 0px 20px !important;
  }
  .text-title-1{
    padding: 10px;
  }
  .product-title-1{
    padding-top: 20px;
  }
}

@media (max-width: 480px) {
  .section{
    padding-top: 60px;
  }
  .img-box-logo{
    img{
      width: 120px;
      height: 40px;
    }
  }
}

@media (min-width: 1600px) {
  .text-color {
    margin-bottom: 50px !important;
  }
}

@media (max-width: 1049px) {
  .partner-container{
    width: 950px !important;
  }
  .team-card{
    padding-top: 1rem !important;
    width: 300px;
    height: 280px;
    .team-img{
      width: 120px;
      height: 120px;
    }
  }
  .partner-card{
    width: 300px !important;
    height: 180px !important;
  }
}
@media (max-height: 878px) {
  .partner-box-image, .partner-box-image-2, .partner-box-image-3{
    height: 400px !important;
  }
}
@media (max-height: 726px) {
  .partner-box-image, .partner-box-image-2, .partner-box-image-3{
    height: 400px !important;
  }
}
@media (max-height: 620px) {
  .partner-box-image, .partner-box-image-2, .partner-box-image-3{
    height: 250px !important;
  }
  .partner-img-1 {
    margin-bottom: 20px !important;
  }
}
@media (max-width: 945px) {
  .partner-container{
    width: 670px !important;
  }
  .partner-card{
    width: 300px !important;
    height: 180px !important;
  }
  .text-title-1{
    margin: 40px auto 0 auto;
    text-align: center;
    line-height: 1.1em;
    font-size: 25px;
    letter-spacing: 2px;
    font-family: 'Caveat', cursive;
    max-width: 470px;
  }
  .slick-dots{
    top: 5px !important;
    li{
      margin: 0 15px !important;
      button{
        width: 40px !important;
      }
    }

  }
  .team-card{
    padding-top: 1rem !important;
    width: 280px;
    height: 290px;
    .team-img{
      width: 120px;
      height: 120px;
    }
  }
  .myTeam{
    font-size: 20px;
  }

}

@media (max-width: 661px) {
  .partner-card{
    margin: 0 2px;
  }
  .partner-container{
    padding: 2px 0;
    width: 340px !important;
  }
  .slick-dots{
    top: 0 !important;
    li{
      margin: 0 5px !important;
      button{
        width: 20px !important;
      }
    }

  }
  .team-card{
    margin-bottom: 10px;
    padding-top: 1rem !important;
    width: 350px;
    height: 450px;
    display: flex !important;

    .name{
      margin-bottom: 20px;
      margin-top: 20px;
    }
    .teams-position{
      margin-bottom: 20px;
      font-size: 20px;
    }
    .quote{
      padding: 0 20px;
    }
    .team-img{
      margin-top: 50px;
      width: 130px;
      height: 130px;
    }
  }
  .myTeam{
    margin-top: -100px;
    font-size: 14px;
    margin-bottom: 10px !important;
  }
  .myTeam-1{
    margin-bottom: 25px !important;
  }
  .team-container{
    width: 100% !important;
  }

}

@media (max-width: 1475px) {
  .conn {
    padding-left: 50px;
  }
  .footer-content{
    padding-left: 43px;
  }
  .say{
    width: 420px;
  }

}
@media (max-height: 800px) {
  .f-text-area{
    margin-bottom: 20px;
  }
  .say{
    top: 35%;
    right: 20%;
    transform: translate(-20%,-35%);

  }
  .conn {
    padding-left: 40px;
  }
  .footer-content{
    padding-left: 53px;
  }
}

@media (max-width: 1700px) {
  .partner-img-text{
    width: 50%;
    line-height: 30px;
    font-size: 25px;
  }
  .container-partner{
    width: 96% !important;
  }
  .partner-img-slider{
    margin-left: 200px !important;
    img{
      width: 300px !important;
      height: 300px !important;
    }
  }
  .partner-img-slider-2{
    margin-right: 50px;
    img{
      width: 400px !important;
      height: 300px !important;
    }
  }
}
@media (max-width: 350px) {
  .tp-box{
    width: 280px !important;
  }
  .product-card{
    min-width: 300px !important;
  }
  .partner-card {
    width: 280px !important;
    height: 180px !important;
  }
  .partner-container{
    padding: 2px 0;
    width: 300px !important;
  }
}
@media (max-height: 640px) {
  .team-card{
    height: 400px;
  }
  .partner-img-1{
    margin-bottom: 20px;
  }
  .partner-box-image, .partner-box-image-2,{
    height: 320px !important;
  }
  .partner-img-text{
    font-size: 13px;
    padding: 0 5px;
  }
  .partner-box-image-2{
    img{
      width: 200px !important;
      height: 200px !important;
    }
  }
  .partner-box-image{
    img{
      width: 200px !important;
      height: 200px !important;
    }}
}
@media (max-height: 568px) {
  .partner-img-1{
    margin-bottom: 15px;
  }
  .partner-box-image, .partner-box-image-2,{
    height: 280px !important;
  }

}
